<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../lib/bootstrap/bootstrap.min.css">

    <style>
        .target-div{
            width: 100px;
            height: 100px;
            background-color: aquamarine;
        }
        .gray{
            background: #f2f2f2;
        }
    </style>
</head>
<body>
<div id="page-methods">
    <input type="button" value="click me" @click="show">
    <hr>
    <input type="button" value="push list" @click="add">
    <span>点击这个按钮，向array里添加一项</span>
    <ul>
        <li v-for="value in array">{{value}}</li>
    </ul>
    <hr>
    <input type="button" value="toggle" @click="toggle">
    <span>点击按钮，DIV消失切换</span>
    <div class="target-div" v-show="showFlag"></div>
    <hr>
    <h1>TODO List demo</h1>
    <form role="form">
        <div class="form-group">
            <label for="listItem">要做的事务:</label>
            <input type="text" id="listItem" class="form-control" placeholder="输入您要做的事务" v-model="something">
        </div>
        <div class="form-group">
            <input type="button" value="添加" class="btn btn-primary" @click="addList()">
            <input type="reset" value="重置" class="btn btn-danger">
        </div>
    </form>
    <hr>
    <table class="table table-bordered table-hover">
        <caption class="h3 text-info">Todo List</caption>
        <tr class="text-danger">
            <th class="text-center">序号</th>
            <th class="text-center">事务</th>
            <th class="text-center">操作</th>
        </tr>
        <tr class="text-center" v-for="(val,index) in somethingList">
            <td>{{index+1}}</td>
            <td>{{val.something}}</td>
            <td>
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layer" @click="nowListIndex=index">删除</button>
            </td>
        </tr>
        <tr v-show="somethingList.length!=0">
            <td colspan="4" class="text-right">
                <button class="btn btn-danger btn-sm" @click="nowListIndex=-2" data-toggle="modal" data-target="#layer" >删除全部</button>
            </td>
        </tr>
        <tr v-show="somethingList.length==0">
            <td colspan="4" class="text-center text-muted">
                <p>暂无数据....</p>
            </td>
        </tr>
    </table>


    <!--模态框 弹出框-->
    <div role="dialog" class="modal fade bs-example-modal-sm" id="layer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">确认删除么?</h4>
                </div>
                <div class="modal-body text-right">
                    <button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
                    <button data-dismiss="modal" class="btn btn-danger btn-sm" @click="deleteMsg(nowListIndex)">确认</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h2>百度搜索下拉框</h2>
    <input type="text" v-model="keyword" @keyup="getBaiDuKeyword" @keydown.down.prevent="directionDown" @keydown.up.prevent="directionUp">
    <ul>
        <!--:class="{gray:$index==nowIndex}" 这么写在vue1中是没有问题的，但是在vue2中会报错,需要显示声明-->
        <li v-for="(value,index) in searchLenovo" :class="{gray:nowIndex==index}">
            {{value}}
        </li>
    </ul>
    <p v-show="searchLenovo.length==0">暂无数据...</p>
</div>






<script src="../lib/jquery/jquery-1.7.2.js"></script>
<script src="../lib/bootstrap/bootstrap.js"></script>

<script src="http://www.jsdaxue.com/ssl/lib/vue/vue2.1.10.js"></script>
<!--<script src="http://www.jsdaxue.com/ssl/lib/vue/vue.js"></script>-->
<!--如果需要发起HTTP，需要引入vue-resource-->
<script src="../lib/vue-resource.js"></script>

<script src="./src/methods.js"></script>
</body>
</html>